<div id="sidebar" class="sidebar">
    <a href="#" class="closebtn" onclick="toggleSidebar()">×</a>
    <a href="{{ url_for('login') }}">Startseite</a>
    <a href="{{ url_for('kalender') }}">Kalender</a>
    <a href="{{ url_for('mitarbeiter') }}">Mitarbeiter-Suche</a>
    <a href="{{ url_for('mitarbeiter_neu') }}">Neuer Mitarbeiter</a>
    <a href="#">Passwort ändern</a>
    <form method="POST" action="{{ url_for('logout') }}">
        <button type="submit" class="logout-btn">Logout</button>
    </form>
</div>
